@inject ISmarthutService SmarthutService;

<div class="col-md-6">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <p class="card-title">@Device.Name</p>
            <p class="card-text">
                <small>Unit: @Device.Units.Name</small>
            </p>
            <div class="row">
                <div class="col-5">
                    <p id="@String.Concat(@Device.Id, "max")" class="card-text">Max: @Device.MaxValue @Device.Units.Unit</p>
                    <p id="@String.Concat(@Device.Id, "min")" class="card-text">Min: @Device.MinValue @Device.Units.Unit</p>
                </div>
                <div class="col-7">
                    <p> Current value:</p>
                    @*<p>@Device.Value</p>*@
                    <p>Last updated: </p>
                    @*<p>@Device.Time</p>*@
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Device Device { get; set; }


}